body {
      font-family: Arial;
      text-align: center;
      transition: 0.5s;
    }

    .container {
      width: 90%;
      max-width: 400px;
      margin: auto;
      margin-top: 80px;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 20px gray;
    }

    input, button, select {
      padding: 10px;
      font-size: 16px;
      margin: 8px;
      width: 80%;
      border-radius: 10px;
      border: none;
    }

    button {
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      transform: scale(1.1);
      background: black;
      color: white;
    }

    .dark {
      background-color: #111;
      color: white;
    }